<nav class="mobile_menu">

  <ul class="nav_list">
    <li class="nav_item">
      <a href="{{ site.baseurl }}/ppl.html">ppl</a>
    </li>
    <li class="nav_item">
      <a href="{{ site.baseurl }}/pubs.html">pubs</a>
    </li>
    <li class="nav_item">
      <a href="{{ site.baseurl }}/code.html">code</a>
    </li>
    <li class="nav_item">
      <a href="{{ site.baseurl }}/teaching.html">teaching</a>
    </li>
    <li class="nav_item">
      <a href="{{ site.baseurl }}/news.html">news</a>
    </li>
    <li class="nav_item">
      <a href="{{ site.baseurl }}/blog.html">blog</a>
    </li>
  </ul>

</nav>
